.balanceBody{
    width: 100vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
}
.balanceCard{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 20px;
    width: 350px;
    background-color: #083458;
    border-radius: 10px;
    border: 2px solid #f4f6fc;
}
.balanceContentBody{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 20px;
    width: 300px;
    padding: 10px 20px;
}
.balanceContent{
    width: 100%;
    display: flex;
    gap: 20px;
    justify-content: start;
    align-items: center;
}
.balanceButtonBody{
    width: 50px;
    min-height:100%;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: flex-end;
}
.dropdownButton{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: end;
    align-items: end;
    color: #f4f6fc;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}
.dropdownButton i:hover{
    color: #f0994d;
}

.balanceLogo{
    font-size: 2rem;
    font-weight: 500;
    color: #f4f6fc;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.netBalance{
    display: flex;
    flex-direction: column;
    width: fit-content;
    font-size: 1rem;
    font-weight: 500;
    color: #f4f6fc;
}
.netBalance h2{
    font-size: 1.3rem;
    font-weight: 500;
    width: fit-content;
    white-space: nowrap;
}

.netBalance i{
    font-size: 1.2rem;
}



