.navbar{
  position: sticky;
  top: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #285A48;
  color: #B0E4CC;
  padding: 20px;
  white-space: nowrap;
}

.navTitle, .navSubtitle{
  padding: 0px 20px;
}
