.buttonTransaction{
    width: 300px;
    height: 40px;
    margin: 10px 0;
    background-color: #132440;
    color: #B0E4CC;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
}

.transactionBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.transactionList{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    color: #091413;
    border: 1px solid black;
    border-radius: 8px;
    font-size: 1rem;
    /* width: fit-content; */
    min-width: 300px;
    /* max-width: 100%; */
    max-width: 100%;
    margin: 10px 0;
    padding: 20px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: auto;
}

/* .transactionElement{
    display: flex;
    justify-content:space-between;
    align-items: center;
    font-size: 24px;
    width: 100%;
    gap: 20px;
    /* gap: 10px;
    /* width: 250px; */
    /* box-sizing: border-? */
    /* display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 100%; 
*/

.transactionHeader, .transactionRow{
    display: grid;
    grid-template-columns: 100px 150px 100px 50px;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid black;


}

.transactionRow div{
    overflow-wrap: break-word;
}

.deleteButton{
    background-color: none;
    width: fit-content;
    border: none;
    color: red;
}